body {
    font-family: 'Poppins', sans-serif;
    color: #343706;
    background-color: #fff;
}

h1,
h2,
h3,
h5 {
    font-family: 'Alegreya', serif;
}

h2,
h3,
h5 {
    color: #754B5F;
}

.cbg-banner,
.cbg-green,
.cbg-lgreen {
    background-image: linear-gradient(to bottom, rgba(181, 206, 172, 0.8) 0%, rgba(255, 255, 255, 0.7) 100%), url(../img/grocery-hero.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
}

.cbg-white {
    background-color: #fff;
    background-image: none;
}


.cbg-button {
    background-color: #b5ceac;
}

.cbg-lbeige {
    background-color: #4C550C;
    color: #fff;
}

/*===Text colors===*/

.ctx-dark {
    color: #253f58;
}

.ctx-line {
    text-decoration: overline #4C550C;
    text-decoration-style: double;
}

.card-cust:Hover{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}

.cb-radius{
    border-radius: 0 0 50px 50px;
}

.whoweare {
	font-size: 80px;
	font-family: "Dancing Script";
	color: rgba(237, 49, 57, 0.2);
	font-weight: bold;
	line-height: 80px;
	text-align: center;
	position: relative;
	z-index: 0;
}

.aboutus {
    margin-top: -20px;
    font-family: "Montserrat";
}

.testimonial_subtitle{
    color: #0aaa7a;
    font-size: 12px;
    margin-left: 30px;
}
.testimonial_btn{
    background-color: #373d4b !important;
    color: #fff !important;
}
.seprator {
    height: 2px;
    width: 56px;
    background-color: #0aaa7a;
    margin: 7px 0 10px 0;
}

h4 strong {
    margin-left:30px;
}

h3 p {
    margin-top: 20px;
    font-family: "Montserrat";
}
